#!/usr/bin/make -f

DEBIAN  := $(shell dpkg-parsechangelog | grep ^Version: | cut -d' ' -f2)
DEBVERS := $(shell echo '$(DEBIAN)' | cut -d- -f1)
VERSION := $(shell echo '$(DEBVERS)' | sed -e 's/[+-].*//' -e 's/~//g')

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

#export DH_VERBOSE=1


# --no-parallel: OS#3970
%:
	dh $@ --with autoreconf --fail-missing --no-parallel

override_dh_auto_configure:
	dh_auto_configure -- --enable-doxygen

override_dh_install:
	sed -i "/dependency_libs/ s/'.*'/''/" `find . -name '*.la'`
	dh_install

override_dh_clean:
	dh_clean
	rm -f tests/package.m4 tests/testsuite .version

override_dh_auto_test:
	dh_auto_test || (find . -name testsuite.log -exec cat {} \; ; false)
